.carousel {
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
}

.slides {
    display: flex;
    overflow-x: scroll;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.slides::-webkit-scrollbar {
    display: none;
}

.slide-item {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    margin: 0;
    position: relative;
    scroll-snap-align: start;
    transform: scale(1);
    transform-origin: center center;
    transition: transform .5s;
    width: 33%;
}

.carousel__nav {
    padding: .5rem .5rem;
}

.slider-nav {
    align-items: center;
    color: #000;
    display: inline-flex;
    height: 1.5rem;
    justify-content: center;
    padding: 0;
    position: relative;
    text-decoration: none;
    width: 1.5rem;
    border: thin solid black;
}

.slider-nav:hover,
.slider-nav:active {
    background-color: #000;
    color: #fff;
}


.carousel__skip-link {
    height: 1px;
    overflow: hidden;
    position: absolute;
    top: auto;
    width: 1px;
}

.carousel__skip-link:focus {
    align-items: center;
    background-color: #ddd;
    color: #fff;
    display: flex;
    justify-content: center;
    opacity: .8;
    width: 100%;
    z-index: 10;
}

.carousel__skip-message {
    background-color: #000;
    color: #fff;
    padding: 0.5rem;
    width: 100%;
}

.selected {
    background-color: yellow;
}