.paddle {
    /*position: absolute;
    top: 0px; */
    padding: 0 5px;
    box-sizing: content-box;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.paddle::before {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
}

.right-paddle {
    right: 0;
}

.left-paddle {
    left: 0;
}

.paddle-faded {
    color: white;
}

.nav-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    border: thin dotted blue;
    width: 100%;
    height: 100px;
    margin: 0;
}

.paddles {
    display: block;
}

.paddle svg {
    height: 24px;
}

.modal-nav {
    height: 100%;
    display: flex;
    flex-direction: row;
}

.nav-item {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
}

.hidden {
    display: none;
}

.description {
    text-align: center;
    font-size: 0.8rem;
}
