
@font-face { font-family: NunitoSans; src: url('font/NunitoSans-Light.ttf'); }

body {
    font-family: NunitoSans, 'Calibri', 'Arial', 'sans-serif';
    font-weight: 300;
    margin: 0;
}

.light-theme {
    --dbp-override-background: #ffffff;
    --dbp-override-content: #222120;
    --dbp-override-content-surface: var(--dbp-override-content);
    --dbp-override-on-content-surface: var(--dbp-override-background);

    --dbp-override-primary: #3775c1;
    --dbp-override-primary-surface: var(--dbp-override-primary);
    --dbp-override-on-primary-surface: var(--dbp-override-on-content-surface);
    --dbp-override-primary-surface-border-color: var(--dbp-override-primary-surface);

    --dbp-override-secondary: #222120;
    --dbp-override-secondary-surface: #ffffff;
    --dbp-override-on-secondary-surface: var(--dbp-override-on-content-surface);
    --dbp-override-secondary-surface-border-color: var(--dbp-override-secondary-surface);

    --dbp-override-muted: #767676;
    --dbp-override-muted-surface: var(--dbp-override-muted);
    --dbp-override-on-muted-surface: var(--dbp-override-on-content-surface);
    --dbp-override-muted-surface-border-color: var(--dbp-override-muted-surface);

    --dbp-override-accent: #9e1e4d;
    --dbp-override-accent-surface: var(--dbp-override-accent);
    --dbp-override-on-accent-surface: var(--dbp-override-on-content-surface);
    --dbp-override-accent-surface-border-color: var(--dbp-override-accent-surface);

    --dbp-override-info: #38808a;
    --dbp-override-info-surface: var(--dbp-override-info);
    --dbp-override-on-info-surface: var(--dbp-override-on-content-surface);
    --dbp-override-info-surface-border-color: var(--dbp-override-info-surface);

    --dbp-override-success: #338555;
    --dbp-override-success-surface: #5ec189;
    --dbp-override-on-success-surface: #222120;
    --dbp-override-success-surface-border-color: var(--dbp-override-success-surface);

    --dbp-override-warning: #bf8808;
    --dbp-override-warning-surface: #f9cc66;
    --dbp-override-on-warning-surface: #222120;
    --dbp-override-warning-surface-border-color: var(--dbp-override-warning-surface);


    --dbp-override-danger: #cc3232;
    --dbp-override-danger-surface: var(--dbp-override-danger);
    --dbp-override-on-danger-surface: var(--dbp-override-on-content-surface);
    --dbp-override-danger-surface-border-color: var(--dbp-override-danger-surface);

    --dbp-override-border: 1px solid #000000;
    --dbp-override-border-radius: 0px;
}

a {
    color: #3775c1;
    font-weight: 700;
}

.header {
    display: flex;
    flex-direction: column;
    min-height: 340px;
    background-color: white;
    padding-left: 15rem; /*10*/
    padding-top: 7rem;
    background-image: url('dbp_logo_chevrons_on_white.svg');
    background-repeat: no-repeat;
    background-position: 22rem -20px; /*17*/
    background-size: 30rem;
    position: sticky;
    top: -348px;
    z-index: 10;
}

.border-shadow {
    -webkit-box-shadow: 0 10px 35px rgb(212, 212, 212);
    box-shadow: 0 10px 35px rgb(212, 212, 212);
}

.header a {
    color: var(--dbp-override-content);
    text-decoration: none;
}

.header-title {
    font-size: 2.5rem;
    letter-spacing: 0.2rem;
    font-weight: 600;
    margin-bottom: 0;
}

.header-top {
    position: sticky;
    top: 0;
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 11;
}

.header-subtitle {
    font-size: 1.15rem;
}

.header-bottom {
    position: sticky;
    top: 64px;
    width: 100%;
    background-color: white;
    z-index: 10;
}

.header-top .logo {
    padding-left: 6rem; /* 4 */
    padding-top: 1rem;
}

.header-top .logo img {
    width: 270px;
}

.header-top .contact {
    margin-right: 6.9rem;
    padding-top: 2.5rem;
}

.header-top .contact img {
    width: 1.7rem;
}

.container {
    max-width: 2000px;
    margin: 0 6rem;
    padding: 7rem 1rem 1rem;
    background: white;
    flex-basis: 100%;
}

.hierarchical-blueprints-item {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-decoration: none;
    color: black;
}

.hierarchical-blueprints-item-is-refined {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5;
    text-decoration: none;
    color: red;
}

.search-panel {
    display: flex;
}

.search-panel__filters {
    flex: 1;
}

.filter-block {
    margin-bottom: 1rem;
}

.filter-heading {
    width: 80%;
    background-color: white; /** var(--dbp-override-background); */
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0;
    margin-bottom: 5px;
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;
}
.filter-heading img {
    width: 1rem;
}

.search-panel__results {
    flex: 3;
}

.ais-Highlight-highlighted {
    color: inherit;
    font-size: inherit;
}

#searchbox {
    margin-bottom: 2rem;
}
#stats {
    margin-bottom: 1rem;
}

.ais-ClearRefinements {
    padding-left: 1rem;
}
.ais-ClearRefinements-button {
    background-color: transparent;
    color: black;
    font-size: 0.8rem;
    border-radius: 0;
}
.ais-ClearRefinements-button img {
    height: 1rem;
    display: inline;
}
.ais-ClearRefinements-button:hover {
    background-color: white;
    color: black;
}
.ais-ClearRefinements-button:hover img {
    /* filter: invert(); */
}
.ais-ClearRefinements-button--disabled {
    padding: 0;
    background-color: transparent;
}
#cf-label {
    padding-left: 0.2rem;
}
.filter-mobile {
    display: none;
}

.HierarchicalMenu-showMore {
    background-color: white !important;
    color: black !important;
    border-radius: 0;
}
.HierarchicalMenu-showMore:hover {
    background-color: white !important;
    color: black !important;
    border-radius: 0;
}
.HierarchicalMenu-showMore[disabled] {
    display: none;
}

#pagination {
    margin: 2rem auto;
    text-align: center;
}

.hit-name {
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 10px;
    display: block;
    align-items: center;
    cursor: pointer;
}
.hit-name-img {
    height: 48px;
    width: 48px;
    padding-right: 0.6rem;
}

.labs-img {
    height: 24px;
    width: 24px;
    padding-left: 0.6rem;
}

.hit-description {
    width:100%;
    height: 4rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    cursor: pointer;
}

.filter-heading .labs-img {
    height: 18px;
    width: 18px;
    padding-left: 0.6rem;
}

.hit-used-programming-languages {
    font-size: 0.8rem;
    margin: 10px 0;
}

.hit-document-type, .hit-content-type, .hit-release {
    font-size: 0.8rem;
    flex: 2;
}

.links {
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.hit-repo img, .hit-doc img, .hit-demo img, .hit-changelog img, .hit-email img {
    height: 24px;
    width: 24px;
    padding-left: 1rem;
}

.hit-license {
    font-size: 0.8rem;
    margin-top: 10px;
}

.hit-used-prog-langs {
    font-size: 0.8rem;
    margin-top: 20px;
}

.hit-links {
    font-size: 0.8rem;
}

.hit-rating {
    margin-top: 1rem;
    font-size: 0.8rem;
}

.ais-Hits-item {
    padding: 20px;
    box-shadow: none;
    border: 1px solid lightgray;
    width: calc(50% - 1rem);
}

.release {
    font-weight: 700;
}

.type {
    border: 1px black solid;
    padding: 0.3rem;
    margin: 0.2rem;
    display: inline-block;
    cursor: pointer;
}

/* chevron open */
.open {
    transform: rotate(90deg);
}

/* document type */
.software {
    /*background-color: white;*/
    /*color: #222120;*/
}

.resources {
    /*background-color: black;*/
    /*color: white;*/
}

.service {
    /*background-color: #3b56a0;*/
    /*color: white;*/
}

/* content type */
.api {
    /*background-color: #9e1e4d;*/
    /*color: white;*/
    font-weight: 400;
}
.application {
    /*background-color: #50417a;*/
    /*color: white;*/
}
.supporting-software {
    /*background-color: #878faf;*/
    /*color: black;*/
}
.admin-tool {
    /*background-color: #6e648a;*/
    /*color: white;*/
}

/* used programming languages */
.php {
    /*background-color: #5b6b9f;*/
    /*color: white;*/
}
.javascript {
    /*background-color: #9c6b83;*/
    /*color: white;*/
}
.docker {
    /*background-color: #c8dbfb;*/
    /*color: black;*/
}
.css {
    /*background-color: #dbc8cc;*/
    /*color: black;*/
}
.java {
    /*background-color: #716387;*/
    /*color: white;*/
}
.html {
    /*background-color: #f1e4e6;*/
    /*color: black;*/
}
.bash {
    /*background-color: #f1e4e6;*/
    /*color: black;*/
}
.kotlin {
    /*background-color: #f1e4e6;*/
    /*color: black;*/
}

/* infrastructure */
footer p {
    text-align: center;
    background: #222120;
    margin: 0;
    color: white;
    padding: 50px;
}
.hello {
    font-size: 1.5rem;
}
footer a {
    color: white;
    text-decoration: none;
    padding: 3px 0;
    margin: 0 10px;
    transition: all 0.2s ease-in-out;
    font-weight: 300;
}
.text-panel {
    flex: 1;
}
.text-panel-block {
    padding-bottom: 20px;
}
.text-panel-header {
    padding-bottom: 10px;
    padding-left: 20%;
    width: 80%;
}
.text-panel-text {
    padding-bottom: 5px;
    padding-left: 20%;
}

.ais-Pagination-list {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
  }

.ais-Pagination-link {
    border-radius: 0;
    background-color: #ffffff;
    color: #222120;
    border-color: #222120;
}

.ais-Pagination-item.ais-Pagination-item--page.ais-Pagination-item--selected .ais-Pagination-link {
    color: #ffffff;
    background-color: #222120;
    border-color: #222120;
}

.ais-Pagination-item--disabled .ais-Pagination-link {
    color: #767676;
    border-color: #767676;
}

.ais-Pagination-link:hover {
    color: black;
    background-color: white;
}

.flex {
    display: flex;
    flex-flow: wrap;
}

.flex-row {
    display:flex;
    flex-direction: row;
}

.flex-row-evenly {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 3em;
}

.flex-row-evenly .modal-column.horizontal-separator:not(:first-child) {
    border-left: 2px solid #ddd;
}

.flex-column {
    display:flex;
    flex-direction: column;
}

.modal-header .flex-row .flex-column {
    font-size: 1.17em;
}

.modal-header .flex-row .hit-name-img {
    width: 65px;
    height: 65px;
    padding-right: 1rem;
}

.ais-Stats, .ais-SearchBox, .ais-RefinementList, .ais-Hits-item, .ais-Hits  {
    color: #222120;
}

.ais-HierarchicalMenu-count, .ais-Menu-count, .ais-RefinementList-count, .ais-ToggleRefinement-count {
    color: #222120;
    background-color: unset;
}

.ais-RefinementList-productName {
    width: 26px;
}

.ais-CurrentRefinements-item {
    margin: 5px;
    padding: 5px;
    color: black;
    background-color: white;
    border-radius: 0;
    border: thin solid black;
    font-size: 1rem;
}
.ais-CurrentRefinements-categoryLabel, .ais-CurrentRefinements-delete {
    color: black;
}

.ais-CurrentRefinements-label {
    display: none;
}

.ais-SearchBox-input {
    border-radius: 0;
}

.hit-types-subtypes {
    display: flex;
    flex-flow: row wrap;
    margin: 20px 0 10px 0;
}

.click-collector {
    position: relative;
    height: 100%;
    width: 100%;
    cursor: pointer;
}

/* modal elements */
.modal-container {
    padding: 10px;
    margin: 10px;
    min-width: 850px;
    min-height: 550px;
    height: min-content; /*850px;*/
    width: 800px;
}
.modal-header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 10px 10px 0 10px;
}
.modal-close {
    height: 1.6rem;
    width: 1.6rem;
}

.modal-content {
    margin:20px; /*0 20px 20px 20px;*/
}
.modal-section-title {
    font-size: 1.1rem;
    color: #888888;
    font-weight: 300;
}
.modal-description {
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}
.modal-blueprint {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.modal-category {
    height: 2.1rem;
    text-align: center;
    line-height: 1rem;
}
.modal-fancy {
    font-weight: 700;
    font-size: 0.9rem;
}
.modal-link {
    padding: 5px 5px 0 5px;
    margin: 5px 5px 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-link img {
    height: 40px;
    width: 40px;
}
.modal-link a {
    color: black;
    text-decoration: none;
}
.modal-separator {
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: #dddddd;
}
.modal-center {
    margin: 0 auto;
}
.modal-column {
    display: flex;
    flex-direction: column;
}
@keyframes turnred {
    from {background-color: white; color:black;}
    to {background-color: red; color:white;}
}
.modal-clicked {
    background-color: red;
    color: white;
    animation-duration: 1.5s;
    animation-name: turnred;
}

.undecorated-link {
    color:black;
    text-decoration:none;
}

#svg {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: currentcolor;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center center;
    -webkit-mask-size: 100% 100%;
    -webkit-mask-image: url('close.svg');
    mask-image: url('close.svg');
}

@media (max-width: 768px) {

    .container {
        max-width: unset;
        margin: 0;
    }

    .mobile-hidden {
        display: none;
    }

    .header {
        padding-left: 0;
        padding-top: 0;
        text-align: center;
        padding-bottom: 2rem;
        min-height: 100px;
        top: -72px;
        background-image: none;
    }

    .header-subtitle {
        font-size: 1.2rem;
    }

    .border-shadow {
        -webkit-box-shadow: 0 8px 12px rgb(212 212 212);
        box-shadow: 0 8px 12px rgb(212 212 212);
    }

    .header-title {
        font-size: 1.7rem;
        padding-top: 0.4rem;
    }

    .header-top .logo {
        padding-left: 0.5rem;
        padding-top: 0.7rem;
    }

    .header-top .logo img {
        width: 2.5rem;
        /* content: url('dbp_logo_small_on_white.svg'); */
    }

    .header-top .contact {
        padding-top: 1.2rem;
        padding-right: 0.8rem;
    }

    .header-top .contact img {
        width: 1.5rem;
        padding-left: 0.8rem;
        padding-right: 0;
    }

    .container {
        padding-top: 2rem;
        max-width: initial;
    }

    .container .search-panel {
        display: block;
    }

    .text-panel {
        /** TODO show at the end (below pagination) **/
        padding-top: 2rem;
    }

    .ais-Hits-item {
        width: calc(100% - 1rem);
    }

    #searchbox {
        margin-bottom: 1rem;
    }

    .hit-name {
        margin-top: 0;
    }

    .hit-types {
        display: flex;
        flex-flow: row wrap;
        margin: 20px 0 10px 0;
    }

    .hit-document-type, .hit-content-type{
        /* margin-top: 16px; */
        font-size: 0.8rem;
        flex: 2;
    }

    .filter-mobile {
        color: #222120;
        font-size: .8rem;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .filter-mobile .description {
        padding-right: 0.4rem;
        padding-top: 0.2rem;
    }

    .filter-mobile img {
        width: 1.5rem;
    }

    .stats-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
    }

    #stats {
        margin-bottom: 0;
    }

    #pagination {
        position: sticky;
        bottom: 0;
        background: white;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    #text-panel-desktop {
        display: none;
    }

    #text-panel-mobile {
        display: block;
    }

    .text-panel {
        padding-top: 0;
    }

    .text-panel-header,
    .text-panel-text {
        text-align: center;
        padding-left: 0;
        width: auto;
    }

    footer p {
        /* text-align: center;
        padding: 0 8px; */
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    footer a {
        border-bottom: 1px solid white;
    }

    footer a:first-child {
        border-bottom: none;
    }

    footer p span {
        display: none;
    }

    #mobile-filter-btn {
        cursor: pointer;
    }
}